.continue-progress-wrapper {

    height: 6px;
    background: #252525;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 12px;

}


.continue-progress-bar {

    height: 100%;
    background: #8c52ff;
    border-radius: 10px;

}



.continue-time {

    margin-top: 8px;
    font-size: 0.85rem;
    color: #aaa;

}