@import 'tailwindcss';

.episodes-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    @apply list-none grid gap-3 mt-5 w-full max-w-full;
}

.el-search {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.el-history {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 312px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, minmax(156px, 156px));
    }
}