.anime-card {
    position: relative;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.anime-card-first {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 18vw;
    min-width: 185px;
    max-width: 290px;
    gap: 12px;
    padding: 10px;
}

.anime-card-image {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.anime-card-title {
    font-size: 14px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-card-language {
    font-size: 14px;
    color: gray;
}

/*ANIME CARD FOR MOBILE*/
@media screen and (max-width: 600px) {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .anime-card-hover {
        display: none;
    }

    .anime-card-first:active {
        background-color: rgba(0, 162, 255, 0.342);
    }
}

/*ANIME CARD LOADING HANDLER*/

.skeletons.hidden {
    display: none;
}

.loading-e {
    background: linear-gradient(90deg, #141519 0%, #1a1b1f 50%, #141519 100%);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
}

.anime-loading-image {
    width: 100%;
    aspect-ratio: 2/ 3;
}

.anime-loading-title {
    width: 120px;
    height: 20px;
}

.anime-loading-language {
    width: 90px;
    height: 15px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

/*LOADING HANDLER ENDS*/


.anime-card-hover {
    position: absolute;
    z-index: 2;
    inset: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

.anime-card-hover-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #141519f5;
}

.anime-card-hover-title {
    font-size: 15px;
    color: white;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.anime-card-hover-rating {
    margin-top: 8px;
    color: white;
    font-size: 15px;
}

.anime-card-hover-episodes {
    color: #828282;
    font-size: 15px;
    margin-top: 8px;
}

.anime-card-hover-description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 15px;
    line-height: 20px;
    margin-top: 8px;
}

.anime-card-hover-actions {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    align-items: center;
    transition: opacity 0.3s ease;
}

.card-action-watchlist {
    width: 30px;
    height: 30px;
}

.card-action-play {
    width: 40px;
    height: 40px;
}

.tooltip {
    position: relative;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
}

.tooltip:after {
    content: attr(data-tip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c5c5c;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
    z-index: 10;
}

.tooltip:before {
    content: "";
    position: absolute;
    bottom: 73%;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid transparent;
    border-top-color: #5c5c5c;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 15;
}

.tooltip.w:before{
    content: "";
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid transparent;
    border-top-color: #5c5c5c;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 15;
}

.tooltip:hover::after {
    opacity: 1;
}

.tooltip:hover::before {
    opacity: 1;
}

.anime-card-first:hover .anime-card-hover {
    opacity: 1;
}

.anime-card-first:hover .anime-card-hover-actions {
    opacity: 1;
}

.new-pop-anime-card {
    width: unset;
    max-width: 200px;
}

@media (max-width: 312px) {
    .anime-card-first {
        min-width: unset;
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .anime-card-first {
        min-width: 155px;
    }

    .new-pop-anime-card {
        min-width: 155px;
    }
}

.anime-card-link{
    position: absolute;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}

/* .anime-wbtn-container{
    position: relative;
    width: 100%;
}
*/
.anime-wbtn-main{
    pointer-events: all;
}

@media (max-width: 600px){
    .anime-card-hover-actions{
        display: none;
    }
}


/*for anime card links accessbility and lighthouse*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  white-space: nowrap !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}