@import 'tailwindcss';

.anime-card {
    @apply relative no-underline select-none cursor-pointer pb-2.5;
}

.new-pop-ac {
    width: 100%;
}

.anime-card-link {
    @apply absolute inset-0 z-[3] cursor-pointer outline-none;
}

.anime-card-first {
    @apply relative flex flex-col h-auto w-[18vw] min-w-[170px] max-w-[290px] gap-3 p-2.5 aspect-[2/3];
}

.new-pop-anime-card {
    width: unset;
    max-width: 200px;
}

.anime-card-first.ac-for-cat {
    @apply max-w-[180px];
}

@media (max-width: 312px) {
    .anime-card-first {
        min-width: unset;
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .anime-card-first {
        min-width: 155px;
    }

    .new-pop-anime-card {
        min-width: 155px;
    }
}

.anime-card-image {
    @apply w-full block h-auto object-cover;
}

.anime-card-title {
    font-family: 'Montserrat';
    @apply line-clamp-3 text-ellipsis text-sm font-medium text-white;
}

@media (min-width: 1400px){
    .anime-card-title{
        @apply text-base font-semibold;
    }
}

.anime-card-hover {
    @apply absolute z-[2] inset-0 opacity-0 bg-cover bg-center bg-no-repeat;
    transition: opacity 0.3s ease;
    will-change: opacity;
}

.anime-card-hover-details {
    @apply flex flex-col p-2.5 w-full h-full bg-[#141519f5];
}

.anime-card-hover-title {
    @apply line-clamp-3 mt-2.5 text-[15px];
}

.ach-text {
    @apply mt-2 text-sm text-zinc-400;
}

.anime-card-hover-description {
    @apply line-clamp-[7] text-ellipsis text-sm leading-5 mt-2;
}

.anime-card-hover-actions {
    transition: opacity 0.3s ease;
    @apply absolute z-10 left-0 bottom-0 opacity-0 flex items-center gap-1 mt-auto;
}

/*ANIME CARD FOR MOBILE*/
@media (max-width: 600px) {
    * {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .anime-card-hover {
        display: none;
    }

    .anime-card-first:active {
        background-color: rgba(0, 162, 255, 0.342);
    }

    .anime-card-hover-actions {
        display: none;
    }
}

.tooltip {
    @apply relative z-10 inline-block cursor-pointer;
}

.tooltip:after {
    content: attr(data-tip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c5c5c;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
    z-index: 10;
}

.tooltip:before {
    content: "";
    position: absolute;
    bottom: 73%;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid transparent;
    border-top-color: #5c5c5c;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 15;
}

.tooltip.w:before {
    content: "";
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
    border: 12px solid transparent;
    border-top-color: #5c5c5c;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 15;
}

.tooltip:hover::after,
.tooltip:focus-within::after {
    opacity: 1;
}

.tooltip:hover::before,
.tooltip:focus-within::before {
    opacity: 1;
}

.tooltip.w:hover::before {
    opacity: 1;
    bottom: 70%;
}

.tooltip.w:focus-within::before {
    bottom: 70%;
    opacity: 1;
}

.ac-wbtn {
    @apply p-1;
}

.anime-card-first a,
.anime-card-first button {
    transition: border 0.2s ease;
    @apply block outline-none border-2 border-transparent;
}

.anime-card-first a:focus-visible,
.anime-card-first button:focus-visible {
    @apply border-2 border-white;
}

.anime-card-first:hover .anime-card-hover,
.anime-card-first:focus-within .anime-card-hover {
    opacity: 1;
}

.anime-card-first:hover .anime-card-hover-actions,
.anime-card-first:focus-within .anime-card-hover-actions {
    opacity: 1;
}