@import 'tailwindcss';

.profile-main {
    @apply h-auto w-full flex flex-col items-center px-3;
}

.search-top {
    @apply bg-[var(--c-sec)] flex items-center justify-center w-full h-[10%];
}

.st-bar-div {
    @apply px-5 w-full max-w-[1000px] relative;
}

.search-input {
    @apply outline-none bg-transparent w-full h-12 border-b-2 border-b-[gray]
    p-2 text-3xl pl-1 pr-7;
}

.search-input:focus {
    border-color: #8c52ff;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.search-clear-btn {
    @apply hidden absolute z-[1] top-2 right-5 cursor-pointer;
}

.search-results {
    @apply max-w-[1200px] mt-8 h-full;
}

.mov-ser-section {
    @apply hidden flex-col gap-5 w-full mb-10;
}

.mov-ser-section.show {
    display: flex;
}

.mss-heading {
    font-family: 'Winky Sans';
    @apply ml-1 text-3xl font-medium;
}

.ser-res {
    @apply flex flex-wrap w-full;
}

.search-ep-card {
    min-width: 250px;
}

.search-anime-card {
    @apply w-[23vw] max-w-[230px];
}

.p-top {
    margin-top: 0;
}

.part.active {
    font-family: 'Winky Sans';
    @apply bg-[var(--c-sec)];
}

.part.active .part-icon {
    fill: white;
}