.profile-main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-top {
    background-color: #14161b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.st-bar-div {
    padding: 0 20px;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.search-input {
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    padding: 10px;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 30px;
}

.search-input:focus {
    border-color: #8c52ff;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.search-clear-btn {
    display: none;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.search-results {
    max-width: 1200px;
    margin-top: 50px;
    height: 100%;
}

.mov-ser-section {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.mov-ser-section.show {
    display: flex;
}

.mss-heading {
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Poetsen';
    font-weight: 300;
}

.ser-res {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.search-ep-card {
    min-width: 250px;
}

.search-anime-card {
    width: 23vw;
    max-width: 220px;
}

.p-top {
    margin-top: 0;
}

.part.active {
    background-color: #242424;
    color: white;
}

.part.active .part-icon {
    fill: white;
}