@import 'tailwindcss';

.profile-main {
    @apply h-auto w-full flex flex-col items-center;
}

.wat-his-main-box {
    @apply px-5 mt-7 flex flex-col w-full max-w-[1200px] mb-[75px];
}

.wh-top {
    @apply flex items-center justify-center
    w-full gap-4;
}

.wh-t-heading {
    font-size: 35px;
}

.buttons-section {
    @apply relative z-[0] mt-10 flex justify-center border-b-2 border-b-[gray] w-full;
}

.wh-btn {
    transition: border-bottom 0.1s ease;
    @apply translate-y-[3%] relative z-[1] flex py-5 px-7 text-[gray] font-bold text-base border-b-4 border-b-transparent
    cursor-pointer select-none;
}

.wh-btn.active {
    @apply text-white border-[var(--c-main)];
}

.wh-btn:hover {
    @apply text-white bg-[var(--c-whb)] bg-clip-padding;
}

.watchlist-main {
    @apply p-0 mt-7 mb-0;
}

.wm-top {
    @apply flex items-center justify-between;
}

.left-heading {
    @apply text-2xl;
}

.watchlist-list {
    @apply mt-5 flex flex-wrap w-full gap-4;
}

.history-main {
    @apply p-0 mt-7 mb-0;
}

.clear-history {
    transition: color 0.1s ease;
    @apply text-[gray] text-sm font-bold cursor-pointer select-none;
}

.clear-history:hover {
    color: white;
}

.empty-wh {
    height: clamp(300px, 300px, 400px);
    @apply mt-7 border border-dashed w-full flex flex-col items-center justify-center mb-[75px];
}

.wat-des {
    @apply py-7 max-w-[400px] leading-6 text-[#f5f5f5] text-center;
}

.wat-des.active {
    @apply flex flex-row;
}

.goto-home-btn {
    @apply flex bg-[var(--c-main)] py-2 px-5 text-black font-bold cursor-pointer no-underline;
}

.goto-home-btn:hover {
    background-color: #8759e4;
}

.wh-ac {
    max-width: 240px;
}

.wh-ec {
    min-width: 240px;
}

.ec-del-icon:hover {
    fill: #ffffff;
}

.ec-del-btn{
    @apply flex justify-center items-center absolute z-[3] bottom-1 right-1 pointer-events-auto cursor-pointer;
}

.ec-del-btn:focus{
    border: 2px solid white;
}

.episode-card-wrapper {
    @apply relative inline-block;
}

.sort-dropdown-wat {
    @apply absolute z-10;
}

.wh-top-bar{
    @apply flex items-center w-full justify-between;
}