.new-first-right {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 5px;
}

.new-first-right.active {
    background-color: #242424;
}

.new-first-right.active .filter-name,
.new-first-right.active .part-icon{
    color: white;
    fill: white;
}

.part {
    padding: 0px;
    flex-direction: column;
    user-select: none;
    position: relative;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
}

.filter-name {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.filter-by-sub-dub {
    color: gray;
    font-size: 15px;
}

.part:hover {
    background-color: #242424;
}

.part:hover .part-icon,
.part:hover .filter-name {
    fill: white;
    color: white;
}

.part.active {
    background-color: #242424;
}

.part.active .part-icon,
.part.active .filter-name {
    fill: white;
    color: white;
}

.n-f-r-icon {
    width: 30px;
    height: 30px;
}

.dropdown-new-pop {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 10;
    display: none;
    flex-direction: column;
    background-color: #242424;
    padding: 10px 0;
}

.dropdown-new-pop.active {
    display: flex;
}

.dropdown-new-pop-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    gap: 10px;
    background-color: transparent;
    color: rgb(124, 123, 123);
    font-size: 15px;
    font-weight: 500;
}

.dropdown-new-pop-btn.active{
    color: #8c52ff;
}

.dropdown-new-pop-btn:hover {
    color: white;
    background-color: #141519;
}

.dropdown-new-pop-btn.active:hover{
    color: #8c52ff;
    background-color: #141519;
}

.dropdown-new-pop-btn:hover .radio-btn-dropdown {
    fill: white;
}
