@import 'tailwindcss';

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
}

body {
    font-family: "Cal Sans", "Open Sans", "Roboto";
    @apply overflow-x-hidden bg-black text-white antialiased;
}

.main {
    @apply relative z-[0] w-full h-full;
}

/*ANIME PAGE LOADING HANDLER*/

.main.hidden {
    display: none;
}

.main.skeleton {
    @apply overflow-y-hidden h-[90%];
}

.top-banner {
    @apply absolute z-[1] w-full h-[70%] flex flex-col bg-cover bg-center bg-no-repeat;
}

.overlay-gradient {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.884));
    @apply absolute z-[2] inset-0;
}

.bottom-gradient {
    background: linear-gradient(to top, black, transparent);
    @apply w-full h-[300px] mt-auto;
}

.overlay-main {
    @apply w-full h-full absolute z-[2];
}

.empty-top-banner {
    @apply w-full aspect-[3/1] max-h-[400px];
}

.anime-hero-section {
    @apply w-full flex px-10 gap-5;
}

.hero-column {
    @apply flex flex-col;
}

.image {
    @apply w-[30%] max-w-[300px];
}

.card-image {
    @apply w-full aspect-[2/3];
}

.metadata {
    width: 80%;
}

.titles-section {
    @apply flex flex-col gap-2 mb-12;
}

.english {
    font-size: 30px;
}

.romaji {
    @apply text-[#adadad] text-base;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    @apply not-italic font-light;
}

.description-anime-hero {
    @apply text-[#f5f5f5] antialiased text-base mb-4 text-justify;
}

.description-section {
    @apply flex gap-4 w-full;
}

.des-only {
    width: 100%;
}

.other-metadata {
    @apply flex flex-col w-[20%] gap-4;
}

.metadata-label {
    @apply text-sm font-bold;
}

.metadata-value {
    @apply flex gap-1 text-sm font-medium pr-1;
}

.watchlist-section-ap {
    @apply flex items-center gap-2 text-lg not-italic;
}

/*ANIME PAGE HERO FOR MOBILES*/

@media screen and (max-width: 900px) {
    .anime-hero-section {
        @apply flex-col items-center;
    }

    .image {
        @apply w-full max-w-[342px];
    }

    .metadata {
        width: 100%;
    }

    .titles-section {
        @apply items-center m-0 pb-10 border-b border-b-[gray];
    }

    .watchlist-section-ap {
        margin-top: 10px;
    }

    .loader.loader-wbtn {
        margin-top: 0px;
    }

    .description-section {
        @apply py-10 flex-col;
    }

    .des-only {
        border-bottom: 1px solid gray;
    }

    .other-metadata {
        @apply w-full flex-row flex-wrap;
    }

    .english {
        text-align: center;
    }

    .romaji {
        text-align: center;
    }
}

/* END */

.episodes-section {
    @apply mt-7 flex flex-col w-full px-10;
}

.top-controls {
    @apply flex items-center justify-between w-full;
}

.top-controls-btn {
    @apply flex items-center gap-1 select-none cursor-pointer;
}

.season-text {
    @apply text-base;
}

.top-controls-btn:hover .season-text {
    color: #2ee6e3;
}

.top-controls-btn:hover .arrow-down {
    fill: #2ee6e3;
}

.sort {
    padding: 5px;
}

.sort:hover {
    background-color: #23252b;
}

.sort-text {
    color: gray;
    font-size: 15px;
}

.sort-icon {
    fill: gray;
}

.sort:hover:hover .sort-text,
.sort:hover:hover .sort-icon {
    color: white;
    fill: #ffffff;
}

.goto-episode {
    @apply absolute z-[3] h-full w-full;
}

.episodes-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    @apply list-none grid gap-3 mt-5 w-full max-w-full;
}

.el-search {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.el-history {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 312px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .el-history {
        grid-template-columns: repeat(auto-fill, minmax(156px, 156px));
    }
}

.episode-list-endline {
    @apply mt-7 border-b border-b-[gray];
}

.season-change-section {
    @apply mt-4 flex items-center justify-between w-full;
}

.scs-part {
    @apply px-2 w-fit text-[gray] text-xs gap-1 font-bold cursor-pointer;
}

.chevron-arrow {
    font-weight: 800;
}

.scs-part:hover .chevron-arrow,
.scs-part:hover {
    color: white;
    fill: white;
}

.more-section {
    @apply mt-12 w-full;
}

.sl-heading-apage {
    padding: 0 25px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@media screen and (max-width: 900px) {
    .anime-hero-section {
        padding: 0 20px;
    }

    .episodes-section {
        padding: 0 20px;
    }

    .sl-heading-apage {
        padding: 0 20px;
    }
}


@media screen and (min-width: 900px) and (max-width: 1000px) {
    .anime-hero-section {
        padding: 0 45px;
    }

    .episodes-section {
        padding: 0 40px;
    }

    .sl-heading-apage {
        padding: 0 40px;
    }
}

@media screen and (min-width: 1000px) {
    .anime-hero-section {
        padding: 0 64px;
    }

    .episodes-section {
        padding: 0 64px;
    }

    .sl-heading-apage {
        padding: 0 64px;
    }
}

.watchlist-btn-animepage {
    cursor: pointer;
}

.ms-anime-slider {
    padding: 0px;
}

/* metadata special */
.cat-link-txt {
    color: #8c52ff;
}

.cat-sep:last-child {
    display: none;
}

/*for top banner image responsiveness*/
.top-banner-image-ap {
    @apply absolute z-1 w-full h-full inset-0 flex;
}

.top-banner-image-ap picture,
.top-banner-image-ap img {
    @apply w-full block sm:h-full sm:object-cover sm:object-center;
}