@import 'tailwindcss';

.main-episode-page {
    @apply w-full flex flex-col items-center
}

.video-container {
    @apply relative w-full aspect-[2/1.1] max-w-[1350px] overflow-hidden;
}

.video-container iframe {
    @apply absolute inset-0 w-full h-full border-0;
}

.episode-page-details {
    @apply mt-4 flex flex-col w-full max-w-[1200px];
}

@media (max-width: 900px) {
    .episode-page-details {
        padding: 0 20px;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .episode-page-details {
        padding: 0 40px;
    }
}

@media screen and (min-width: 1000px) {
    .episode-page-details {
        padding: 0 64px;
    }
}

.epd-first-top {
    @apply flex items-center;
}

.first-part {
    @apply gap-2 text-lg;
}

.first-part-anime-title {
    transition: all 0.2s ease;
    @apply text-[var(--c-main)] text-base font-bold no-underline cursor-pointer;
}

@media (max-width: 600px){
    .first-part-anime-title {
        font-size: 13px;
    }
}

.first-part-anime-title:hover {
    @apply text-white underline;
}

.first-part-rating {
    @apply text-sm;
}

.add-to-watchlist-icon {
    cursor: pointer;
}

.epd-ep-title {
    @apply mt-5 text-2xl font-medium;
}

.epd-language {
    @apply mt-4 text-[gray] text-sm;
}

.epd-description {
    @apply mt-3 w-full text-base leading-6;
}

.episode-change-section {
    @apply mt-5 w-full flex items-center gap-5 mb-12;
}

.episode-change-card-container {
    @apply relative flex flex-col gap-4 w-[50%] cursor-pointer no-underline select-none;
}

.episode-change-card-container.hidden {
    display: none;
}

.eccc-link {
    @apply absolute inset-0 z-[3] no-underline cursor-pointer pointer-events-auto;
}

.episode-change-card:hover {
    background-color: #23252b;
}

.eccc-heading {
    @apply text-sm font-bold;
}

.episode-change-card {
    @apply flex gap-2 items-center p-1;
}

.for-card {
    @apply mt-0 text-lg;
}

.ecc-image {
    @apply w-[40%] h-[100%];
}

@media (max-width: 500px) {
    .ecc-image {
        max-width: 110px;
    }
}

@media (max-width: 1000px) {
    .ecc-image {
        max-width: 160px;
    }
}

.ecc-text-section {
    gap: 8px;
}

.ecc-language {
    margin-top: 0;
}

@media (max-width: 650px) {
    .episode-change-section {
        flex-direction: column;
    }

    .episode-change-card-container {
        width: 100%;
    }
}

.epd-first {
    padding: 0px;
    max-width: none;
}

@media (max-width: 500px) {
    .episode-page-details {
        padding: 0 15px;
    }

    .epd-first {
        padding: 0px;
        max-width: none;
    }

    .epd-ep-title {
        font-size: 19px;
    }

    .epd-description {
        font-size: 14px;
    }

    .for-card {
        font-size: 16px;
    }
}