@import 'tailwindcss';

.main-root {
    @apply w-full flex flex-col items-center;
}

.main-content {
    @apply h-full w-full max-w-[1200px] px-5;
}

.new-first {
    @apply mt-20 flex items-center justify-between w-full mb-10;
}

.new-first-heading {
    @apply antialiased text-2xl;
}

@media (max-width: 312px) {
    .new-first-heading {
        font-size: 15px;
    }

    .filter-name {
        display: none;
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .new-first-heading {
        font-size: 22px;
    }

    .filter-name {
        display: none;
    }
}