.main-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.new-first {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.new-first-heading {
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    color: white;
}

.new-first-right {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 5px;
}

.part {
    padding: 0px;
    flex-direction: column;
    user-select: none;
    position: relative;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
}

.filter-name {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.filter-by-sub-dub {
    color: gray;
    font-size: 15px;
}

.part:hover {
    background-color: #242424;
}

.part:hover .part-icon,
.part:hover .filter-name {
    fill: white;
    color: white;
}

.part.active {
    background-color: #242424;
}

.part.active .part-icon,
.part.active .filter-name {
    fill: white;
    color: white;
}

.n-f-r-icon {
    width: 30px;
    height: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.new-pop-ac {
    width: 100%;
}

.new-pop-anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    list-style-type: none;
}

.np-watchlist {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
}

@media (max-width: 312px) {
    

    .np-watchlist {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .new-first-heading {
        font-size: 15px;
    }

    .filter-name {
        display: none;
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
    }

    .np-watchlist {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
    }

    .new-first-heading {
        font-size: 22px;
    }

    .filter-name {
        display: none;
    }
}

.np-watchlist.skeletons.hidden {
    display: none;
}

.dropdown-new-pop {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 10;
    display: none;
    flex-direction: column;
    background-color: #242424;
    padding: 10px 0;
}

.dropdown-new-pop.active {
    display: flex;
}

.dropdown-new-pop-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    gap: 10px;
    background-color: transparent;
    color: rgb(124, 123, 123);
    font-size: 15px;
    font-weight: 500;
}

.dropdown-new-pop-btn:hover {
    color: white;
    background-color: #141519;
}

.dropdown-new-pop-btn:hover .radio-btn-dropdown {
    fill: white;
}

/*LOADING CONTENT N MAIN CONTENT LAYOUT HANDLER*/

.new-pop-anime-list.hidden {
    display: none;
}