body.loading{
    cursor: wait;
}

.new-pop-anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    list-style-type: none;
}

.np-watchlist {
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
}

@media (max-width: 312px){
    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .np-watchlist {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media (min-width: 313px) and (max-width: 500px){
    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
    }

    .np-watchlist {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
    }
}

.new-pop-anime-list.hidden {
    display: none;
}


.episodes-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

.episodes-list.disable-clicks{
    pointer-events: none;
}

.episodes-list.disable-clicks .ec-del-icon{
    pointer-events: none !important;
    cursor: default;
}

.el-search {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.el-history {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}