.mid-section {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.anime-card-2 {
    width: 100%;
    max-width: 1370px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1370px;
    margin-bottom: 50px;
}

.anime-card-2-image {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 3/ 3;
    cursor: pointer;
    margin-left: 20px;
    min-width: 250px;
    max-width: 275px;
    border-radius: 50%;
}

.anime-card-2-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 1fr;
    max-height: fit-content;
    height: 22vw;
    align-self: center;
}

.anime-card-2-heading {
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-bottom: 12px;
    max-width: fit-content;
    cursor: pointer;
}

.anime-card-2-heading:hover {
    text-decoration: underline;
}

.anime-card-2-para {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: medium;
    color: white;
    line-height: 20px;
    margin: 16px 0;
}

@media screen and (min-width: 1000px) {
    .anime-card-2-para {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.anime-card-2-btn-section {
    display: flex;
    width: 100%;
    gap: 10px;
}

.card-2 {
    height: 43px;
}

.anime-card-2-watch-btn {
    width: 210px;
    padding-right: 10px;
    height: 50px;
    background-color: #8c52ff;
    font-size: medium;
    color: black;
}

.anime-card-2-watch-btn:hover {
    background-color: #8c52ff;
    cursor: pointer;
}

.anime-card-2-watchlist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 43px;
    gap: 5px;
    border: 2px solid #8c52ff;
    background-color: transparent;
}

.anime-card-2-watchlist-text {
    color: #8c52ff;
    font-size: 15px;
}

.anime-card-2-watchlist-btn:hover {
    cursor: pointer;
    border-color: #8c52ff;
    color: #8c52ff;
}

.anime-card-2-watchlist-btn:hover .wat-icon-ac-2 {
    fill: #8c52ff;
}


/*ANIME CARD 2 LOADING HANDLER*/

.wrapper-loading {
    justify-content: center;
}

.ac2-img {
    width: 100%;
    aspect-ratio: 2 / 2;
    max-width: 250px;
}

.ac2-head {
    width: 300px;
    height: 30px;
    margin-bottom: 12px;
}

.ac2-lang {
    width: 100px;
    height: 20px;
}

.ac2-para {
    width: 100%;
    height: 15px;
    margin-bottom: 8px;
}

.ac2-action {
    width: 100px;
    height: 45px;
}

/*LOADING HANDLER ENDS*/

/*ANIME CARD 2 FOR MOBILE*/
@media screen and (max-width: 900px) {
    .mid-section {
        display: block;
        align-items: unset;
        justify-content: unset;
        width: 100%;
    }

    .anime-card-2 {
        display: block;
        width: 100vw;
        padding: 0px;
    }

    .wrapper {
        width: 100vw;
        flex-direction: column;
        max-width: none;
        flex-shrink: 0;
        align-items: center;
        padding: 0 20px;
        padding-bottom: 30px;
    }

    .anime-card-2-details {
        margin: 0;
        width: 100%;
        max-height: none;
        height: auto;
        align-self: unset;
        align-items: center;
    }

    .anime-card-2-heading {
        font-size: 20px;
        text-align: center;
    }

    .anime-card-sub-dub {
        font-size: 15px;
    }

    .anime-card-2-para {
        font-size: 14px;
    }

    .anime-card-2-btn-section {
        flex-direction: column;
        padding-right: 12px;
    }

    .card-2 {
        width: 100%;
    }

    .anime-card-2-watchlist-btn {
        width: 100%;
    }

    .anime-card-2-image {
        aspect-ratio: 2/ 2;
        max-width: 300px;
        margin-left: 0;
        min-width: unset;
    }

    .ac2-action {
        width: 100%;
    }
}