@import 'tailwindcss';

.wrapper {
    @apply flex w-full max-w-[1370px] mb-12.5;
}

.anime-card-2-image {
    @apply block w-full min-w-[250px] max-w-[275px] object-cover object-center
    aspect-square cursor-pointer ml-5 rounded-full;
}

.anime-card-2-details {
    @apply flex flex-col ml-7.5 pt-2.5 pb-1 w-[1fr] max-h-fit h-[22vw] self-center;
}

.anime-card-2-heading {
    @apply text-[30px] font-[500] mb-3 cursor-pointer max-w-fit;
}

.anime-card-2-heading:hover {
    @apply no-underline;
}

.anime-card-2-para {
    @apply line-clamp-2 text-ellipsis text-base leading-5 my-4;
}

@media screen and (min-width: 1000px) {
    .anime-card-2-para {
        @apply line-clamp-3;
    }
}

.anime-card-2-btn-section {
    @apply flex w-full gap-2.5;
}

.card-2 {
    height: 43px;
}

.anime-card-2-watch-btn {
    @apply w-[210px] pr-2.5 h-12.5 bg-[#8c52ff] text-base text-black cursor-pointer;
}

.anime-card-2-watch-btn:hover {
    @apply bg-[#8c52ff];
}

.anime-card-2-watchlist-btn {
    @apply flex justify-center items-center w-[200px] h-11 gap-1
    border-2 border-[#8c52ff] bg-transparent cursor-pointer;
}

.anime-card-2-watchlist-text {
    color: #8c52ff;
    font-size: 15px;
}

.anime-card-2-watchlist-btn:hover {
    border-color: #702afa;
    color: #702afa;
}

.anime-card-2-watchlist-btn:hover .wat-icon-ac-2 {
    fill: #702afa;
}

/*ANIME CARD 2 FOR MOBILE*/
@media screen and (max-width: 900px) {
    .mid-section {
        align-items: unset;
        justify-content: unset;
        @apply block w-full;
    }

    .anime-card-2 {
        @apply block w-full p-0;
    }

    .wrapper {
        @apply w-full flex-col max-w-none shrink-0 items-center px-5 pb-7.5;
    }

    .anime-card-2-details {
        align-self: unset;
        @apply m-0 w-full max-h-none h-auto items-center;
    }

    .anime-card-2-heading {
        font-size: 20px;
        text-align: center;
    }

    .anime-card-sub-dub {
        font-size: 15px;
    }

    .anime-card-2-para {
        font-size: 14px;
    }

    .anime-card-2-btn-section {
        @apply flex-col pr-3;
    }

    .card-2 {
        width: 100%;
    }

    .anime-card-2-watchlist-btn {
        width: 100%;
    }

    .anime-card-2-image {
        min-width: unset;
        @apply aspect-square max-w-[300px] ml-0;
    }

    .ac2-action {
        width: 100%;
    }
}