@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=LXGW+Marker+Gothic&family=Monoton&family=Poetsen+One&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import '../../styles/custom-utilities.css';

:root {
    --sb: 0.3s;
    --lso: 0.5s;
    --c-main: #8c52ff;
    --c-main-h: #712ff5;
    --c-sec: #141519;
    --c-com: #242424;
    --c-whb: #25262bc4;
}

/*many pages use this style*/
.main-root {
    @apply w-full flex flex-col items-center;
}

@media (max-width: 600px) {
    :root {
        --sb: 0.4s;
    }
}

* {
    box-sizing: border-box;
}

.empty-top {
    @apply relative z-0 h-15 w-full bg-transparent;
}

.navbar {
    @apply fixed z-10 flex justify-between items-center w-full h-[60px] bg-[#23252b] text-[#f5f5f5];
}

.nav-left {
    @apply flex gap-[20px] items-center h-full p-[0px];
}

.menu-logo {
    @apply w-1/2 h-1/2;
}

.website-logo {
    @apply w-[130px] h-auto cursor-pointer;
}

.nav-right {
    @apply flex h-full items-center;
}

.nav-right-block {
    @apply flex justify-center items-center h-[60px] w-[60px] bg-transparent cursor-pointer select-none;
}

.nav-right-block:focus-visible {
    outline: 2px solid white;
}

.nav-right-block:hover {
    background-color: #141519;
}

@media screen and (max-width: 500px) {
    .nav-right-block.w-navbar {
        display: none;
    }
}

.nav-right-block.active {
    background-color: #141519;
}

.nav-right-logo {
    @apply w-[30px] h-[30px];
}

.sidebar-overlay {
    @apply fixed z-[11] h-[100vh] w-full bg-[#3a39399d];
}

.sidebar {
    @apply block fixed z-[12] w-[35%] max-w-[350px] bg-[#141519] pt-[10px] h-full;
}

.hidden {
    display: none !important;
    transition: display var(--sb) allow-discrete;
}

.log-sign-overlay.hidden {
    display: none !important;
    transition: display var(--lso) allow-discrete;
}

.show {
    display: flex !important;
}

.hidden .sidebar {
    --dir: -100%;
    animation: vanish var(--sb) !important;
}

.show .sidebar {
    --dir: -100%;
    animation: appear var(--sb) !important;
}

.hidden .corner-box {
    --dir: 100%;
    animation: vanish var(--lso) !important;
}

.show .corner-box {
    --dir: 100%;
    animation: appear var(--lso) !important;
}

@keyframes appear {
    from {transform: translateX(var(--dir));}
    to {transform: translateX(0);}
}

@keyframes vanish {
    from {transform: translateX(0);}
    to {transform: translateX(var(--dir));}
}

.sidebar-button {
    @apply flex items-center w-full h-[50px] pl-[20px] bg-transparent cursor-pointer text-[17px] text-[#ffffff] no-underline select-none;
}

.sidebar-button:is(:nth-last-child(4)){
    border-top: 1px solid gray;
}

.category {
    @apply pr-[10px] justify-between;
}

.category button {
    all: unset;
    cursor: pointer;
}

.category-dropdown {
    transition: display 0.2s ease;
    @apply flex-col w-full bg-[#1a1c20] overflow-y-scroll h-[250px];
}

.dropdown {
    @apply pl-[20px] text-[15px] text-[#f5f5f5] h-[40px] bg-transparent overflow-auto;
}

.catdd-btn {
    @apply flex items-center w-full py-[20px] max-h-[40px] pl-[20px] text-[16px];
}

.catdd-btn:hover {
    background-color: #1f2127;
}

.sidebar-button:hover {
    background-color: #23252b;
}

.dropdown:hover {
    background-color: #1f2127;
}

.log-sign-overlay {
    @apply fixed flex flex-col z-[11] w-full h-full bg-[#3a39399d] items-end;
}

.corner-box {
    @apply flex flex-col py-[10px] w-[400px] h-fit bg-[#141519];
}

@media screen and (max-width: 600px) {
    .corner-box {
        width: 100%;
    }

    .sidebar {
        width: 65%;
        max-width: unset;
    }
}

.log-sign-box {
    display: flex;
}

.corner-box-btn {
    @apply w-full h-[75px] flex items-center px-[20px] no-underline select-none cursor-pointer;
}

.cbb-account {
    @apply h-[100px] justify-between no-underline;
}

.bd-bottom {
    border-bottom: 1px solid gray;
}

.bd-top {
    border-top: 1px solid gray;
}

.cbb-whl {
    gap: 20px;
    height: 60px;
}

.cbb-whl:is(:nth-child(4)){
    border-top: 1px solid gray;
}

.account-box {
    @apply flex items-center gap-[15px];
}

.account-pic {
    @apply h-[64px] w-[64px] rounded-[50%] object-cover;
}

.account-name {
    font-family: "Poetsen One";
    @apply text-[20px] font-light not-italic text-[#ffffff];
}

.corner-box-btn:hover {
    background-color: #23252b;
}

.corner-box-btn-text {
    @apply flex flex-col gap-[10px];
}

.cbt-white {
    font-family: 'Winky Sans';
    @apply text-[17px] text-[#fff];
}

.cbt-gray {
    font-family: 'Winky Sans';
    @apply text-[13px] text-[#acacac];
}