@import 'tailwindcss';

.sub-cat-main {
    @apply flex flex-col w-full max-w-[1200px] p-5 items-center mt-0;
}

.sub-cat-top {
    @apply flex text-[gray] text-2xl w-full items-center mb-5 justify-center;
}

.main-cat-link {
    @apply text-[gray] no-underline;
}

.main-cat-link:hover {
    @apply text-white underline;
}

.sub-cat-name{
    color: white;
}

.sub-cat-name::before{
    content: '/';
    @apply px-2 text-[gray] text-2xl no-underline;
}

.sub-cat-anime-card {
    @apply w-[25vw] max-w-[214px];
}

@media screen and (max-width: 700px) {
    .sub-cat-anime-card {
        @apply w-[39vw] max-w-[210px];
    }
}

/*new popular anime list*/
.new-pop-anime-list {
    display: grid;
    gap: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media (max-width: 312px) {
    .anime-card-first {
        min-width: unset;
    }

    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}

@media (min-width: 313px) and (max-width: 500px) {
    .anime-card-first {
        min-width: 155px;
    }

    .new-pop-anime-card {
        min-width: 155px;
    }

    .new-pop-anime-list {
        grid-template-columns: repeat(auto-fill, minmax(170px, 170px));
    }
}