@import 'tailwindcss';

.episode-card {
    @apply w-full relative no-underline select-none cursor-pointer;
}

.episode.card.hidden{
    display: none;
}

.episode-card-first {
    @apply relative flex flex-col p-2.5;
}


.episode-card-image {
    @apply w-full aspect-[3/2] object-cover;
}

.anime-title {
    @apply mt-2 text-[gray] text-xs font-bold;
}

.episode-number-name {
    @apply mt-1 text-base line-clamp-2 text-ellipsis overflow-hidden mb-1 leading-6;
}

.language-section {
    @apply mt-auto text-[gray] text-xs;
}

.episode-card-hover {
    transition: opacity 0.3s ease;
    @apply bg-[var(--c-sec)] absolute z-[2] inset-0 opacity-0 p-2.5 bg-cover bg-center bg-no-repeat;
}

.episode-description {
    @apply line-clamp-5 text-sm leading-5;
}

.episode-play-btn {
    @apply mt-auto flex items-center text-[var(--c-main)] text-sm;
}

.episode-card-first:hover .episode-card-hover {
    opacity: 1;
}

.episode-card-link{
    @apply absolute inset-0 z-[3] no-underline cursor-pointer;
}

.ec-del-icon:hover {
    fill: #ffffff;
}

.ec-del-btn{
    @apply flex justify-center items-center;
}

.ec-del-btn:focus{
    @apply absolute z-[3] bottom-1 right-1 pointer-events-none cursor-pointer border-2;
}