.episode-card {
    width: 100%;
    position: relative;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.episode.card.hidden{
    display: none;
}

.episode-card-first {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.episode-card-image {
    width: 100%;
    aspect-ratio: 3/ 2;
    object-fit: cover;
}

.anime-title {
    margin-top: 8px;
    color: gray;
    font-size: 11px;
    font-weight: bold;
}

.episode-number-name {
    margin-top: 4px;
    color: white;
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 25px;
}

.language-section {
    margin-top: auto;
    color: gray;
    font-size: 13px;
}


/*EPISODE CARD LOADING HANDLER*/

.el-history.skeletons.hidden {
    display: none;
}

.episode-loading-image {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.episode-loading-title {
    width: 22vw;
    max-width: 200px;
    height: 18px;
    margin: 12px 0;
}

.episode-loading-language {
    width: 22vw;
    max-width: 100px;
    height: 14px;
}

/*LOADING HANDLER ENDS*/

.episode-card-hover {
    background-color: #141519;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
}

.episode-description {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    font-size: 14px;
    line-height: 20px;
}

.episode-play-btn {
    margin-top: auto;
    display: flex;
    align-items: center;
    color: #8c52ff;
    font-size: 15px;
}

.episode-card-first:hover .episode-card-hover {
    opacity: 1;
}

.episode-card-link{
    position: absolute;
    inset: 0;
    z-index: 3;
    text-decoration: none;
    cursor: pointer;
}

.ec-del-icon:hover {
    fill: #ffffff;
}

.ec-del-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ec-del-btn:focus{
    position: absolute;
    z-index: 3;
    bottom: 5px;
    right: 5px;
    pointer-events: auto;
    cursor: pointer;
    border: 2px solid white;
}