footer{
    padding: 40px 20px;
    background-color: black;
    border-top: 1px solid #ccc;
    font-size: 17px;
    color: gray;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
}

.footer-links li{
    position: relative;
    padding-right: 16px;
}

.footer-links li:not(:last-child)::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 1px;
    background-color: gray;
}

.footer-links li:hover {
    color: white;
}

.sf-separator {
    padding: 0 20px;
}