.slider-btn-section {
    position: absolute;
    z-index: 11;
    width: 100%;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sbs-category {
    padding-left: 0px;
    padding-right: 12px;
}

.slider-btn {
    position: absolute;
    z-index: 11;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: fill;
    background-color: rgba(0, 0, 0, 0.473);
    user-select: none;
    padding: 15px 5px;
    transition: display 0.5s ease-out;
}

.left {
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slider-btn:hover .s-btn {
    fill: #8c52ff;
}

.hidden {
    display: none;
}

.disable-click {
    /* opacity: 0.4;
    cursor: default; */
    pointer-events: none;
}

@media (max-width: 600px){
    .slider-btn {
        padding: 5px;
    }
    
    .slider-btn-section{
        display: none;
    }
}