@import 'tailwindcss';

.slider-btn-section {
    @apply absolute z-[11] w-full pointer-events-none inset-0;
}

.sbs-category {
    @apply pl-0 pr-3;
}

.slider-btn {
    transition: display 0.5s ease-out;
    @apply absolute z-[11] border-2 border-white rounded-[4px] flex flex-col items-center
    bg-[rgba(0,0,0,0.473)] select-none py-4 px-1.5 pointer-events-auto top-[50%] translate-y-[-50%];
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.slider-btn:hover .s-btn {
    fill: #8c52ff;
}

.hidden {
    display: none;
}

.disable-click {
    pointer-events: none;
}

@media (max-width: 600px){
    .slider-btn {
        padding: 5px;
    }
    
    .slider-btn-section{
        display: none;
    }
}