@import 'tailwindcss';
/* BCO SPECIFIC HERE*/

:root{
    --light-sec: #202125;
}

.background-change-overlay {
    @apply w-full h-full hidden flex-col items-center fixed z-[12] bg-[rgba(0,0,0,0.253)] p-5;
}

.background-change-overlay.show{
    display: flex;
}

.bco-main-box {
    @apply w-full max-w-[800px] h-full flex flex-col; 
}

.selected-banner-section {
    @apply relative w-full;
}

.selected-banner-img {
    @apply w-full h-[250px] block object-cover;
}

.sbs-cross-btn {
    @apply absolute z-[1] bg-[var(--c-sec)] rounded-full flex p-2 top-2.5 right-2.5 cursor-pointer;
}

.choose-section {
    @apply relative z-[4] w-full h-[120px] bg-[var(--light-sec)] flex items-center justify-between
    p-5;
}

.cs-text-section {
    @apply flex flex-col gap-2.5;
}

.cs-ts-text-big {
    font-size: clamp(16px, 4vw, 23px);
    color: white;
}

.cs-ts-text-small {
    font-size: clamp(13px, 4vw, 17px);
    color: gray;
}

.can-don-buttons {
    @apply flex gap-2.5;
}

@media (max-width: 700px){
    .can-don-buttons{
        flex-direction: column;
    }
}

.can-don-btn {
    width: clamp(1vw, 25vw, 150px);
    @apply text-[var(--c-main)] border-2 border-[var(--c-main)] flex py-2 cursor-pointer select-none justify-center;
}

.don-btn {
    color: gray;
    border-color: gray;
}

.don-btn.active {
    @apply text-black bg-[var(--c-main)] border-none;
}

.banners-list {
    column-count: 2;
    column-gap: 10px;
    @apply relative z-[4] p-5 bg-[var(--c-sec)] w-full py-7.5 px-2.5 select-none overflow-y-auto list-none;
}

@media (max-width: 600px){
    .banners-list{
        column-count: 1;
    }
}

/*scrollbar settings for both banner and avatar list*/
.wk-sb::-webkit-scrollbar {
    width: 15px;
}

.wk-sb::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.wk-sb::-webkit-scrollbar-thumb {
    @apply bg-[var(--c-main)] rounded-[10px] h-10 border-3 border-[#1e1e1e];
}

.wk-sb::-webkit-scrollbar-thumb:hover {
    background-color: #8c52ff;
}

.banner-section {
    @apply break-inside-avoid mb-2.5 flex flex-col gap-2.5;
}

.banner-heading {
    @apply text-sm text-center;
}

.banner-list-img {
    transition: border 0.3s ease;
    @apply w-full border-3 border-transparent object-cover cursor-pointer;
}

.banner-list-img:hover {
    border-color: white;
}


/* ACO SPECIFIC HERE */

.aco-top {
    @apply relative w-full h-[200px] bg-[var(--light-sec)] flex items-center py-4 px-15 gap-10;
}

.act-avatar-img {
    @apply h-[150px] w-[150px] rounded-full;
}

.bco-text-big {
    font-size: clamp(16px , 3vw, 23px);
    margin-bottom: 10px;
}

.bco-text-small {
    font-size: clamp(13px , 3vw, 18px);
    @apply text-[gray] mb-7;
;}

.avatars-list {
    @apply flex flex-wrap w-full py-5 px-7 bg-[var(--c-sec)] gap-10 select-none max-h-[100%] overflow-y-auto list-none;
}

.avatar-section {
    @apply flex flex-col gap-2.5 items-center;
}

.avatar-name {
    @apply text-2xl font-[400] not-italic max-w-[100px];
}

.avatar-list-img {
    border: 5px solid transparent;
    @apply h-[110px] w-[110px] rounded-full border-5 border-transparent
    cursor-pointer;
}

.avatar-list-img:hover {
    border-color: white;
}

.cross-btn-avatar {
    @apply absolute z-[15] top-4 right-4 cursor-pointer;
}