@import 'tailwindcss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 88%;
}

body{
    @apply overflow-x-hidden bg-black text-white text-base w-[100vw] max-w-[100vw] font-sans;
}

.topbar{
    @apply py-6 flex items-center justify-center w-full h-20 bg-[#0a0a0a];
}

.website-logo{
    @apply h-full;
}

.main{
    @apply w-full h-full flex flex-col items-center;
}

.main-content{
    @apply w-full max-w-[450px] h-[80%] pt-25;
}

.main-heading{
    font-family: 'Canva Sans';
    @apply w-full h-fit flex justify-center text-[35px] font-bold;
}

.log{
    margin-top: 30px;
}

.form-section{
    @apply flex flex-col gap-0 w-full h-fit mt-7.5;
}

.email{
    @apply relative h-7.5 gap-1;
}

.email input{
    @apply w-full py-2.5 pl-1 border-b-2 border-b-[gray] bg-transparent outline-none
}

.email label{
    transition: all 0.2s ease;
    @apply relative bottom-9 left-0 text-[20px] pointer-events-none;
}

.email input:focus{
    border-bottom:2px solid #8c52ff;
}

.email input::selection{
    background-color: #141519;
    color: #8c52ff;
}

.email input:focus + label,
.email input:not(:placeholder-shown) + label {
  bottom: 65px;
  font-size: 14px;
  color: gray;
}

.email input:focus + label.invalid,
.email input:not(:placeholder-shown) + label.invalid {
  color: #8c52ff;
}

.password{
    @apply h-7.5 mt-12 gap-1;
}

.password input{
    @apply w-full pl-1 py-2.5 bg-transparent outline-none border-b-2 border-b-[gray];
}

.floating-label{
    transition: all 0.2s ease;
    @apply relative text-[20px] bottom-9 pointer-events-none;
}

.floating-label.invalid{
    color: orangered;
}

.password input:focus{
    border-color: #8c52ff;
}

.password input:focus + .floating-label,
.password input:not(:placeholder-shown) + .floating-label{
    bottom: 65px;
    font-size: 15px;
    color: gray;
}

.password input:focus + .floating-label.invalid,
.password input:not(:placeholder-shown) + .floating-label.invalid{
    color: #8c52ff;
}

.password-note{
    @apply mt-7.5 text-[gray];
}

.create-account-btn{
    transition: background-color 0.2s, color 0.2s ease;
    @apply mt-[70px] w-full h-11 rounded-[50px] border-2 border-[gray] flex justify-center items-center text-base font-bold
    text-[gray] bg-transparent cursor-default select-none;
}

.create-account-btn.active{
    @apply border-none text-black bg-[#8c52ff] cursor-pointer;
}

.alt-login-text{
    @apply mt-5 w-full flex justify-center items-center text-sm gap-2;
}

.to-login{
    @apply text-[#8c52ff] no-underline text-base cursor-pointer font-bold;
}

.to-login:hover{
    color: white;
}

.terms-para{
    @apply mt-12 w-full text-[gray] text-sm;
}

.term-policy-link{
    @apply text-[#8c52ff] underline decoration-[#8c52ff] text-sm font-bold cursor-pointer px-1;
}

.term-policy-link:hover{
    @apply text-white decoration-white;
}

/*LOGIN SPECIFIC STARTS HERE*/

.after-next-links{
    @apply mt-4 flex justify-center w-full;
}

.to-login:not(:last-child):after{
    content: '|';
    color: white;
    padding: 0 10px;
}

.email label.invalid{
    color: orangered;
}